// header
$header-height: 60px;
$error-color: #ef4444;
$important-color: #ca2525;
$important-hover-color: #991b1b;
$text-default-color: #ECECEC;
$primary-color: #2D517C;

// color
$btn-save-color: #0bad13;
