// common
$error-color: #ef4444;
$important-color: #ca2525;
$important-hover-color: #991b1b;
$text-default-color: #ECECEC;
$primary-color: #2D517C;

// sidebar
$sidebar-bg-color: #171717;
$sidebar-text-color: #fff;
$sidebar-item-bg-selected-color: #2E2E2E;
$sidebar-item-bg-hover-color: #212121;

$sidebar-item-height: 36px;
$sidebar-item-title-color: #9B9B9B;

// user menu
$usermenu-bg-color: #2F2F2F;
$usermenu-hover-color: #424242 !important;
$usermenu-border-color: #5e5e5e;