@import './variables';

.wrapper {
    .titleMain {
        color: $text-default-color;
    }

    .btnGroup {
        margin-top: 40px;
    }

    .btnClose {
        color: $text-default-color;
    }

    .description {
        color: $sidebar-item-title-color;
        font-size: 14px;
    }
}
