@import './variables';

.wrapper {


    .titleMain {
        color: $text-default-color;
    }

    .btnGroup {
        margin-top: 40px;
    }

    .btnClose {
        color: $text-default-color;
    }

    .description {
        color: $sidebar-item-title-color;
        font-size: 14px;
    }

    .icon {
        color: rgb(155, 155, 155);
        padding: 4px;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }

    .page {
        li {
          a {
            color: #fff; 
            &:focus {
              color: black; 
            }
            span{
                color:#fff;
                outline-color: #fff
            }
          }
          span{
            color:white;
          }
          div{
            color:white;

          }
        }
    }


}
